<div>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="placa">Placa</label>
        <input
          type="text"
          class="form-control"
          id="placa"
          [(ngModel)]="currentTutorial.placa"
          name="placa"
        />
      </div>
      <div class="form-group">
        <label for="kilometraje">Kilometraje</label>
        <input
          type="text"
          class="form-control"
          id="kilometraje"
          [(ngModel)]="currentTutorial.kilometraje"
          name="kilometraje"
        />
      </div>

    </form>


    <button class="m-3 btn btn-sm btn-danger" (click)="deleteTutorial()">
      Borrar
    </button>

    <button
      type="submit"
      class="m-3 btn btn-sm btn-warning"
      (click)="updateTutorial()"
    >
      Actualizar
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</div>
